<!DOCTYPE html>
<html xmlns:th"http://thymeleaf.org">
		<head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
	</head>
	<body>
		<div class="container-fluid text-center">
		<div th:replace="navigation :: header_menu"></div>
	
	<div>&nbsp;</div>
	
	<div th:if="${title != null}">
	<h2>[[${title}]]</h2>
	</div>
	
	<div th:if="${message != null}">
	<h3>[[${message}]]</h3>
	</div>
	
    <div>&nbsp;</div>
	
	<div th:replace="navigation :: footer_menu"></div>
	</body>
</html>

<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Welcome to Shopme</title>
	</head>
	<body>
		
	<h1>Welcome to Shopme E commerce</h1>
	</body>
</html>-->