*.icon-white{
	color: white;
}
*.icon-silver{
	color: silver;
}
*.icon-green{
	color: green;
}
*.icon-dark{
	color: grey;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.shop-icon{
  margin-right:1rem;
  height:6.5rem;
  width: auto;
}

.main-heading {
  font-size: 4rem;
  padding: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'Raleway', Times, serif;
  text-shadow: 5px 5px 5px #f4f3f023;
  letter-spacing: 5px;
  display:flex;
  flex-direction: row;
  font-weight: 800;
  font-size: 6rem;
  padding-top: 2rem;
}

.navigation {
  /*grid-area: nav;*/
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #a69064, #d8c49a, #b9a273, #a69064, #8d784e, #947e53);
  color: white;
}


.nav-links ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
}


.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1.35rem;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 5px 5px 5px #f4f3f072;
  text-shadow: 3px 3px 3px #f4f3f043;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Raleway', Times, serif;
  font-weight: 200;
}

.nav-links a:hover {
  transition: 1s;
  color:white;
}

.nav-links.active {
  display: flex;
}


.nav-links {
  display: block;
}


.home {
  padding: 0.8rem;
  border-radius:50px;
  background-color: #e6f5f936;
}

.main-pic {

  background-image: url(shop-main-image.jpg);
  background-size: cover;
  height: 100vh;
  width:100vw;
}

.toggle-button {
  display: none;
}