<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
		<head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
	</head>
	<body>
		<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>
	<div class="text-center">
	<h2>Customer Registration</h2>
	</div>
	
	<form th:action="@{/create_customer}" method="post" th:object="${customer}"
	style="max-width:600px; margin: 0 auto;"
	onsubmit="return checkEmailUnique(this);">
		<div class="border border-secondary rounded p-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">First Name:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{firstName}" class="form-control"
								required="required" maxLength="45" minLength="2"/>
			</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Last Name:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{lasttName}" class="form-control"
				required="required" maxLength="45" minLength="2"/>
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">E-mail:</label>
			<div class="col-sm-8">
				<input type="email" th:field="*{email}" class="form-control" 
				required="required" maxLength="45" minLength="8"/>
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Password:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{password}" class="form-control"
				required="required" maxLength="15" minLength="6" 
				oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
				/>
			</div></div>
			
				<div class="form-group row">
				<label class="col-sm-4 col-form-label">Re-type Password:</label>
			<div class="col-sm-8">
				<input type="text" id="confirmPassword" class="form-control" 
				required="required" maxLength="15" minLength="6" 
				oninput="checkPasswordMatch(this)"/>
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Phone Number:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{phoneNumber}" class="form-control" 
				required="required" maxLength="15" minLength="6"/>
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Address Line 1:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{addressLine1}" class="form-control" 
				required="required" maxLength="64" minLength="3"/>
			</div></div>
			
				<div class="form-group row">
				<label class="col-sm-4 col-form-label">Address Line 2:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{addressLine2}" class="form-control" 
				 maxLength="64" />
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">City:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{city}" class="form-control" 
				 maxLength="45" minLength="2"/>
			</div></div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Country:</label>
			<div class="col-sm-8">
				<select class="form-control" th:field="${country}">
					<th:block th:each="country : ${listCountries}">
						<option th:value="${country.id}">[[${country.name}]]</option>
					</th:block>
				</select>
			</div></div>
			
				<div class="form-group row">
				<label class="col-sm-4 col-form-label">State/Province:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{state}" class="form-control" 
				 maxLength="45" minLength="3" list="listStates" />
				 <datalist id="listStates"></datalist>
			</div></div>
			
				<div class="form-group row">
				<label class="col-sm-4 col-form-label">Postal Code:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{postalCode}" class="form-control" 
				  maxLength="10" minLength="2"/>
			</div></div>
			
			<div class="text-center">
				<input type="submit" value="Create Account" class="btn btn-primary"/>
			</div>
			
		</div>
	</form>
			<div>&nbsp;</div>
	<div th:replace="fragments :: modal_dialog"></div>
	<div th:replace="navigation :: footer_menu"></div>
	
	
	<script type="text/javascript">
	contextPath = "[[@{/}]]"
	
	//checks if email already exists, then shows warning
	//otherwise updates email
	function checkEmailUnique(form){
		url= contextPath + "customers/check_unique_email";
		customerEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		params ={email: customerEmail, _csrf: csrfValue};
		
		$.post(url,params, function(response){
			if (response == "OK"){
				form.submit();
			}else if (response == "Duplicated"){
			showWarningModal("Another customer with this email already exists " + customerEmail);
		}else{
			showErrorModal("Unknown response from server");
		}
		}).fail(function(){
			showErrorModal("Could not connect to server");
		});
		return false;
	}
	
	
	
	</script>
		<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
	</body>
</html>

