<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
		<head th:replace="fragments :: page_head('Shopping Cart', 'none')"/>
	</head>
	<body>
		<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="navigation :: search_nav"></div>
	
	<div class="text-center">
	<h1>Checkout</h1>
	</div>

<div class="row m-1">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header"><h5>Shipping information</h5></div>
		    <div class="card-body"></div>
		    <p>
				<b>Ship to:</b>&nbsp; [[${ShippingAddress}]]
				<a th:href="@{/address_book(redirect=checkout)}">[Ship to another address]</a>
			</p>
			<p>
				<b>Days to deliver:</b>[[${checkoutInfo.deliverDays}]] day(s)
			</p>
			<p>
				<b>Expected deliver dater:</b>[[${checkoutInfo.deliverDate, 'E, dd, MMM yy')}]] 
			</p>
		</div>
	</div>
	
	<div>
			<div class="card-header"><h5>Payment Method</h5></div>
		    <div class="card-body">
				<div th:if"${checkoutInfo.codSupported}">
					<p>
						<input type="radio"/> Cash on delivery (COD)
						&nbsp;
						<button class="btn btn-primary">Place Order with COD</button>
					</p>
				</div>
			</div>
	</div>
	
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header"><h5>Order summary</h5></div>
		    <div class="card-body">
				<div>
					<table>
						<th:block th:each="item : ${cartItems}">
							<tr th:with="product = ${item.product}">
								<td>[[${item.quantity}]] X &nbsp;&nbsp;</td>
								<td width="70%">
									<!--_blank for opening tab in another window-->
									<a th:href="@{'/p/' + ${product.alias}}" target="_blank">
										[[${product.shortName}]]
										</a>
										<br/>
										<small>Ship: <div th:replace="fragments :: format_currency(${item.shippingCost})"></div></small>
								</td>
								<td>
									<div th:replace="fragments :: format_currency(${item.subtotal})"></div>
								</td>
							</tr>
						</th:block>
						<tr><td colspan="3"><hr/></tr>
					</table>
				</div>
				
				<div class="row mt-2">
					<div class="col">Product Total:</div>
					<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.productTotal})"></div></div>
				</div>
				
				<div class="row mt-2">
					<div class="col">Shipping Total:</div>
					<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})"></div></div>
				</div>
				
				<div class="row mt-2">
					<div class="col">Payment Total:</div>
					<div class="col"><b></b><div th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})"></div></b></div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div th:replace="navigation :: footer_menu"></div>
	
		</div>
	</body>
</html>