<!--Errors in this file?-->


<!DOCTYPE html>
<html xmlns:th"http://thymeLeaf.org">
<head th:fragment="page_head(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<!--for responsivity-->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
		<title>[[${title}]]</title>
		<!--css and js files from bootstrap and jquery framework-->
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"/></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"/></script>
		<script type="text/javascript" th:src="@{/js/common.js}"/></script>
	</head>
	<body>
		
		<div th:fragment="footer" class="text-center m-3">
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
		
		<!--Showing green checkmark when enabled / grey checkmark when disabled-->
	<div th:fragment="category_status" th:remove="tag">
		<a th:if="${cat.enabled == true}" class="fas fa-check-circle icon-green"
		th:href="@{'/categories/' + ${cat.id} + '/enabled/false'}" title="Disable this category" >
		</a>
		<a th:if="${cat.enabled == false}" class="fas fa-check-circle icon-dark"
		th:href="@{'/categories/' + ${cat.id} + '/enabled/true'}" title="Enable this category" >
		</a>
	</div>	
	
    <div th:fragment="category_actions" th:remove="tag">
		<a class="fas fa-check-edit icon-green"
		th:href="@{'/categories/edit/' + ${cat.id}}" title="Edit this category" >
		</a>
		<a class="fas fa-check-edit icon-dark link-delete"
		th:href="@{'/categories/delete/' + ${cat.id}}" title="Delete this category" >
		</a>
	</div>	
		
	<!--listing top-->
		<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
     <a class="text-white"
	    th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" >
	    [[${columnLabel}]]
    </a>
	
   <span th:if="${sortField == fieldName}"
		 th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'">
	</span>
   </th>
   
   <!--Pagination bottom-->
   <a th:fragment="page_link(pageNum, label)"
   class="page_link"
   th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>



	</body>
</html>