<!DOCTYPE html>
<html xmlns:th"http://thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head th:replace="fragments :: page_head('Home - Shopme Admin')"/>
	<body>
	
		<div class="container-fluid">
			<div th:replace="navigation :: menu"></div>
			<div>
				
		<!--Personal welcome message for logged in user-->
				<h2>Shopme control panel</h2>
				Welcome
				<a th:href="@{/account}" sec:authentication="principal.fullname" ></a>
				<span sec:authentication="principal.authorities"></span>
				</div>
				
	<div th:replace="fragments :: footer"></div>
	
	</div>
	
	<!--When logging out-->
	<script type="text/javascript">
	
	</script>
	</body>
</html>

<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Welcome to Shopme</title>
	</head>
	<body>
		
	<h1>Welcome to Shopme E commerce</h1>
	</body>
</html>-->