<!DOCTYPE html>
<html xmlns:th"http://thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<!--for responsivity-->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
		<title>Home - Shopme Admin</title>
		<!--css and js files from bootstrap and jquery framework-->
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"/></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"/></script>
	</head>
	<body>
	<!--fluid css clss for responsivity provided by bootstrap-->	
		<div class="container-fluid">
			<div>
				<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
					<input type"submit"/>
				</form>
				<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
					<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/storeicon.png}"/>
					</a>
					<buttom class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
						<span class="navbar-toggler-icon"></span>
					</buttom>
					<div class="collapse navbar-collapse" id="topNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/users}">Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/categories}">Categories</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" th:href="@{/brands}">Brands</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" th:href="@{/products}">Products</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" th:href="@{/customers}">Customers</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" th:href="@{/shipping}">Shipping</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/orders}">Orders</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" th:href="@{/report}">Sales Report</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/articles}">Articles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/menus}">Menus</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/settings}">Settings</a>
							</li>
							<li>
								<span class="fa-solid fa-user icon-silver"></span>
							</li>
							<!--For testing username-->
								<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown"
								sec:authentication="principal.fullname" ></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>
							</div>
							</li>
														
						</ul>
					</div>
				</nav>
			</div>
			<div>
				<h1>Shopme control panel</h1>
				</div>
		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
	
	<!--When logging out-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#logoutLink").on("click", function(e) {
				e.preventDefault();
				document.logoutForm.submit();
			});
		});
	</script>
	</body>
</html>

<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Welcome to Shopme</title>
	</head>
	<body>
		
	<h1>Welcome to Shopme E commerce</h1>
	</body>
</html>-->