<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Search Product', 'none')" />
<body>
<div class="container-fluid">
	<div>
		<form th:action="@{/orders/search_product}" method="post" 
		class="form-inline my-2">
			<input type="search" required class="form-control mr-sm-2" 
			name="keyword" placeholder="product name" th:value="${keyword}"/>
			<input type="submit" class="btn btn-outline-success" value="Search"/>
		</form>
	</div>
	<div class="row">
<!--terating tru each product in the list from the search result-->
		<th:block th:each="product : ${listProducts}">
		<div class="col">
			<div>
				<a href="" class="linkProduct" th:pid="${product.id}">
					<img th:src="@{${product.mainImagePath}}" height="150"/>
				<br/>
				<b th:id="'pname' + ${product.id}">[[${product.shortName}]]</b>
				</a>
			</div>
		</div>
		</th:block>
	</div>
	<div th:replace="fragments :: pagination('/products', 'products)"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		handleLinkProduct();
	});
	
	function handleLinkProduct(){
		$(".linkProduct").on("click", function(e){
			e.preventDefault();
			productId = $(this).attr("pid");
			productName = $("#pname" + productId).text();
		});
	}
</script>
</body>
</html>