<!DOCTYPE html>
<html xmlns:th"http://thymeleaf.org">
		<head th:replace="fragments :: page_head('Reset Password', 'none')"/>
	</head>
	<body>
		<div class="container-fluid text-center">
		<div th:replace="navigation :: header_menu"></div>
	
	
	<div>&nbsp;</div>
	<div>
	<h2>Reset Your Password</h2>
	</div>
	
	<form th:action="@{/reset_password}" method="post" 
	style="max-width: 420px; margin: 0 auto;" class="form-control">
	<input type="hidden" th:value="${token}" name="token"/>
	<!--For showing error message, from forgot password controller-->	
	<div class="border border-secondary rounded p-3">
		
		    <div>
				<p>
		
				<input type="password" name="password" id="password" placeholder="Enter your password" 
				class="form-control" 
				required="required" autofocus="autofocus" minlength="8" maxlength="15"/>
				</p>
			</div>
			<div>
				<p>
<!--Using js below to compare this field with above password-->	
					<input type="password" placeholder="Confirm your password" 
				required="required"  minlength="8" maxlength="15" oninput="checkPasswordMatch(this)"/>
				</p>
			</div>
			<div>
				<input type="submit" value="Change Password" class="btn btn-primary" />
			</div>
		</div>
	</form>
	
	<div>&nbsp;</div>

	<div th:replace="navigation :: footer_menu"></div>
	
	//Checking so the two pw user eneterd are the same
	<script type="text/javascript">
		function checkPasswordMatch(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Passwords do not match");
		}else{confirmPassword.setCustomValidity("");
		}
	}
	</script>
	</body>
</html>

<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Welcome to Shopme</title>
	</head>
	<body>
		
	<h1>Welcome to Shopme E commerce</h1>
	</body>
</html>-->